@charset "UTF-8";
/* Un nom de police pour les titres et le logo dans footer suivi d'un nom de famille générique */
/* Un nom de police pour les textes du site suivi d'un nom de famille générique */
* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur
  et la hauteur */
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/*Animation avant chargement page d'accueil*/
/*.toto{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}*/
.animation_avant_chargement {
  position: absolute;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  animation: disappear 50ms 2.8s forwards;
}
.animation_avant_chargement i {
  padding-left: 2px;
  padding-top: 18px;
  position: relative;
  display: inline-block;
  margin: 0 11px;
  width: 13px;
  height: 38px;
  border-radius: 2px;
  animation: tilt 2.8s cubic-bezier(0.955, -0.01, 1, 1);
  animation-fill-mode: forwards;
  transform-origin: 100% 100%;
}
.animation_avant_chargement i.primary-color {
  background-color: #9356DC;
  border: solid #512d7d;
  border-width: 0px 1px 1px 0px;
}
.animation_avant_chargement i.secondary-color {
  background-color: #FF79DA;
  border: solid #b64f99;
  border-width: 0px 1px 1px 0px;
}
.animation_avant_chargement i.tertiary-color {
  background-color: #99E2D0;
  border: solid #609386;
  border-width: 0px 1px 1px 0px;
}
.animation_avant_chargement i:nth-child(2) {
  animation-delay: 0.3s;
}
.animation_avant_chargement i:nth-child(3) {
  animation-delay: 0.6s;
}
.animation_avant_chargement i:nth-child(4) {
  animation-delay: 0.8s;
}
.animation_avant_chargement i:nth-child(5) {
  animation-delay: 1.2s;
}
.animation_avant_chargement i:nth-child(6) {
  animation-delay: 1.5s;
}
.animation_avant_chargement i:nth-child(7) {
  animation-delay: 1.8s;
}
.animation_avant_chargement i:nth-child(8) {
  animation-delay: 2.1s;
}
.animation_avant_chargement i:nth-child(9) {
  animation-name: tilt-last;
  animation-delay: 2.4s;
}

@keyframes disappear {
  to {
    transform: scale(0);
    transform: translate(-9999px);
  }
}
@keyframes tilt {
  0% {
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(70deg);
  }
  60% {
    transform: rotate(70deg);
  }
  70% {
    transform: rotate(70deg);
  }
  100% {
    opacity: 0;
    transform: rotate(70deg);
    visibility: hidden;
  }
}
@keyframes tilt-last {
  0% {
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg);
    visibility: hidden;
  }
}
/*Page blanche pendant 3s avant le chargement de la page d'accueil*/
.commencer_chargement {
  animation: page_blanche 3s;
}

@keyframes page_blanche {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-direction: column;
}
.header_logo {
  margin-left: auto;
  margin-right: auto;
}
.header_logo_image {
  width: 45%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.header_localisation {
  box-shadow: inset 0px 2px 5px #cacbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e6e7;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header_localisation_selection-lieu {
  font-weight: bold;
  margin-left: 20px;
}
.header_retour_accueil {
  position: absolute;
  left: 20px;
  top: 23px;
}
.header_retour_accueil :hover {
  color: #99E2D0;
}

.recherche {
  background: #f6f6f6;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.recherche_titre {
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.recherche_texte {
  margin-bottom: 15px;
  color: #6e6e6e;
  font-size: 18px;
}
.recherche button {
  /* Format des boutons "action" du site */
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  padding: 10px;
  color: white;
  background: linear-gradient(356deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  transition: transform 330ms ease-in-out;
  /* Appel du format "action" du bouton */
  margin-top: 20px;
}
.recherche button:hover {
  /* background: linear-gradient(356deg, lighten($primary-color, 10%) 0%, lighten($secondary-color, 10%) 100%);*/
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.6;
  transform: scale(1.1);
}

.fonctionnement {
  padding: 40px 20px 40px 20px;
}
.fonctionnement_titre {
  margin-bottom: 25px;
}
.fonctionnement_liste {
  margin-left: 12px;
}

ol {
  counter-reset: compteListe;
}
ol li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  display: flex;
  margin-top: -2px;
  margin-left: -50px;
}
ol li {
  cursor: pointer;
  background: #f6f6f6;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 80px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 37px;
}
ol li i {
  color: #777777;
  margin-right: 20px;
}
ol li span {
  font-weight: bold;
}
ol li:hover {
  background: #f5edff;
}
ol li:hover i {
  color: #9356DC;
}

@media screen and (min-width: 992px) {
  ol {
    display: flex;
    justify-content: space-around;
  }
  ol li {
    padding-right: 40px;
  }

  h2 {
    text-align: center;
  }
}
.restaurants {
  background: #f6f6f6;
  padding: 50px 20px 40px 20px;
}
.restaurants_carte-restaurant {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 26px;
  background: white;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  position: relative;
  transition: transform 330ms ease-in-out;
}
.restaurants_carte-restaurant:hover {
  transform: scale(1.05);
}
.restaurants_carte-restaurant_image a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.restaurants_carte-restaurant_nouveau {
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  position: absolute;
  padding: 6px 0px 6px 11px;
  width: 78px;
  right: 12px;
  top: 14px;
  font-size: 14px;
  font-weight: 600;
}
.restaurants_carte-restaurant_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 182px 20px 15px 13px;
}
.restaurants img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 170px;
}

/*  Animation coeur - remplissage dégradé progressif  */
.animation_coeur {
  position: absolute;
  bottom: 25px;
  right: 16px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

.animation_coeur input[type=checkbox]:checked ~ .coeur_non-select {
  display: none;
}

.animation_coeur input[type=checkbox]:checked ~ .coeur_select {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.animation_coeur input[type=checkbox], .animation_coeur .coeur_select {
  display: none;
  animation: like 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.3s linear 0s;
}

@keyframes like {
  0% {
    height: 0%;
  }
  10% {
    height: 10%;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .rangement_carte-restaurant {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurants_carte-restaurant {
    flex: 40%;
  }
  .restaurants_carte-restaurant:first-child {
    margin-right: 30px;
  }
  .restaurants_carte-restaurant:nth-child(3) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 992px) {
  .restaurants {
    padding-bottom: 5%;
  }

  .rangement_carte-restaurant {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurants_carte-restaurant {
    flex: 3%;
    margin: 30px 0px 20px 20px;
  }
  .restaurants_carte-restaurant:first-child {
    margin-right: 0px;
    margin-left: 0px;
  }
  .restaurants_carte-restaurant:nth-child(3) {
    margin-right: 0px;
  }

  .animation_coeur {
    right: 10px;
  }
}
main .image_restaurant {
  width: 100%;
  object-fit: cover;
}

.restaurant_page {
  background: #f6f6f6;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  background: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -25%;
}

.header_menu {
  display: flex;
  padding-top: 30px;
  margin-bottom: -10px;
}
.header_menu_titre h1 {
  font-family: Shrikhand, cursive;
  margin-left: 5px;
}

.restaurant_menu h2 {
  font-weight: normal;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
  margin-left: 5px;
}

.valider {
  display: inline-block;
  overflow: hidden;
  /* l'élément n'est pas autorisé à se rétrécir */
  flex-shrink: 0;
  font-size: 20px;
  background-color: #99E2D0;
  color: white;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s;
}
.valider .fa-circle-check {
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}

.format_plat {
  cursor: pointer;
  overflow: hidden;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-left: 12px;
  margin-bottom: 15px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.1);
  transition: transform 330ms ease-in-out;
}
.format_plat_textes {
  line-height: 25px;
  flex-grow: 1;
  overflow: hidden;
  /* si nécessaire, texte rogné et ... */
  text-overflow: ellipsis;
  /* empêche le retour à la ligne */
  white-space: nowrap;
  padding-right: 10px;
}
.format_plat_textes_titre {
  font-weight: bold;
  font-size: 18px;
  flex-grow: 1;
  overflow: hidden;
  /* si nécessaire, texte rogné et ... */
  text-overflow: ellipsis;
  /* empêche le retour à la ligne */
  white-space: nowrap;
}
.format_plat_textes_precision {
  font-size: 14px;
  flex-grow: 1;
  overflow: hidden;
  /* si nécessaire, texte rogné et ... */
  text-overflow: ellipsis;
  /* empêche le retour à la ligne */
  white-space: nowrap;
}
.format_plat_prix {
  font-weight: bold;
  padding-right: 20px;
  margin-top: 31px;
}
.format_plat:hover .valider {
  width: 60px;
}
.format_plat:hover .valider > .fa-circle-check {
  transform: rotate(360deg);
}

button {
  /* Format des boutons "action" du site */
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  padding: 10px;
  color: white;
  background: linear-gradient(356deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  transition: transform 330ms ease-in-out;
  /* Appel du format "action" du bouton */
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
}
button:hover {
  /* background: linear-gradient(356deg, lighten($primary-color, 10%) 0%, lighten($secondary-color, 10%) 100%);*/
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.6;
  transform: scale(1.1);
}

.commander_bouton {
  text-align: center;
}

/*  Animation coeur - remplissage dégradé progressif  */
.checkbox-like-restaurant {
  position: absolute;
  right: 35px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

.checkbox-like-restaurant input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-like-restaurant input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like-restaurant input[type=checkbox], .checkbox-like-restaurant .checked {
  display: none;
  animation: like 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.3s linear 0s;
}

@keyframes like {
  0% {
    height: 0%;
  }
  10% {
    height: 10%;
  }
  25% {
    height: 25%;
  }
  50% {
    height: 50%;
  }
  75% {
    height: 75%;
  }
  100% {
    height: 100%;
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
/* Animation - apparition des plats au chargement de la page */
.format_plat {
  animation: fadein 1s;
}

.entree1, .plat1, .dessert1 {
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.entree2, .plat2, .dessert2 {
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.entree3, .plat3, .dessert3 {
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant_page {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 992px) {
  main .image_restaurant {
    object-fit: cover;
    object-position: 0 -200px;
  }

  .restaurant_page {
    margin-top: -35%;
  }

  .header_menu {
    justify-content: center;
  }

  .restaurant_menu {
    display: flex;
    justify-content: space-evenly;
    column-gap: 14px;
  }

  .format_plat {
    width: 320px;
  }
}
.footer {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #343434;
  color: white;
}
.footer_titre_font, .footer_titre_font a {
  font-family: Shrikhand, cursive;
  font-weight: lighter;
  margin-bottom: 20px;
  color: white;
}
.footer_menu_item1 {
  margin-right: 15px;
}
.footer_menu_item2 {
  margin-right: 10px;
}
.footer_menu li {
  margin-bottom: 10px;
}
.footer_menu a {
  color: white;
}
.footer a:hover {
  color: #99E2D0;
}

@media screen and (min-width: 992px) {
  .footer {
    display: flex;
    align-items: center;
    padding-right: 30px;
    justify-content: space-between;
  }
  .footer_titre_font {
    margin-bottom: 0px;
  }
  .footer_menu ul {
    display: flex;
  }
  .footer_menu ul li {
    display: flex;
    white-space: nowrap;
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer {
    display: flex;
    align-items: center;
    padding-right: 30px;
    justify-content: space-between;
  }
  .footer_titre_font {
    margin-bottom: 0px;
    margin-right: 25px;
  }
  .footer_menu ul {
    display: flex;
  }
  .footer_menu ul li {
    display: flex;
    white-space: nowrap;
    margin-bottom: 0px;
    margin-right: 17px;
  }
}

/*# sourceMappingURL=style.css.map */
