.footer{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color:#343434;
    color: white;
    &_titre_font, &_titre_font a{
        font-family: $titles-logo-font;
        font-weight: lighter;
        margin-bottom: 20px;
        color: white;
    }
    &_menu{
        &_item1{
            margin-right: 15px;
        }
        &_item2{
            margin-right: 10px;
        }
        & li{
            margin-bottom: 10px;
        }
        & a{
            color: white;
        }
    }
    & a:hover{
        color: $tertiary-color;
    }
}
@media screen and (min-width: $desktop-version){
    .footer{
        display: flex;
        align-items: center;
        padding-right: 30px;
        justify-content: space-between;
        &_titre_font{
            margin-bottom: 0px;
        }
        &_menu ul{
         display: flex;
         & li{
             display: flex;
             white-space: nowrap;
             margin-bottom: 0px;
             margin-right: 30px;
         } 
      }
    }
}
@media screen and (min-width: $tablette-version) and (max-width: $desktop-version){
    .footer{
        display: flex;
        align-items: center;
        padding-right: 30px;
        justify-content: space-between;
        &_titre_font{
            margin-bottom: 0px;
            margin-right: 25px;
        }
        &_menu ul{
         display: flex;
         & li{
             display: flex;
             white-space: nowrap;
             margin-bottom: 0px;
             margin-right: 17px;
         } 
      }
    }
}