.recherche{
    background: $background-color-main;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    &_titre{
        margin-bottom: 15px;
        margin-left: 40px;
        margin-right: 40px;
    }
    &_texte{
        margin-bottom: 15px;
        color: $color-text-recherche-accueil;
        font-size: 18px;
    }
    & button{
        @include bouton_action_format; /* Appel du format "action" du bouton */
        margin-top: 20px;
    }
}