$titles-logo-font: Shrikhand, cursive; /* Un nom de police pour les titres et le logo dans footer suivi d'un nom de famille générique */
$text-font: Roboto, sans-serif; /* Un nom de police pour les textes du site suivi d'un nom de famille générique */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color-main: #f6f6f6;
$background-color-localisation: #e6e6e7;
$background-color-localisation-ombre: #cacbcb;
$border-input-localisation-focus: #6e6e6e;
$color-text-recherche-accueil: #6e6e6e;
$desktop-version: "992px";
$tablette-version: "768px";