/*Animation dominos au chargement de la page d'accueil*/
    /*Animation des dominos*/
        .animation_avant_chargement{
            z-index: 1;
            position: absolute;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 100%;
            width: 100%;
            animation: disappear 50ms 1500ms forwards;
                    & i{
                    padding-left: 2px;
                    padding-top: 18px;
                    position: relative;
                    display: inline-block;
                    margin: 0 12px;
                    width: 13px;
                    height: 38px;
                    border-radius: 2px;
                    -webkit-box-shadow: 2px 2px 5px 2px #D2D2D2; 
                    box-shadow: 2px 2px 5px 2px #D2D2D2;
                    animation: tilt 1.5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
                    animation-fill-mode: forwards;
                    transform-origin: 100% 100%;
                        &.primary-color{
                        background-color: $primary-color;
                        border: solid #512d7d;
                        border-width: 0px 1px 1px 0px;
                        }
                        &.secondary-color{
                        background-color: $secondary-color;
                        border: solid #b64f99;
                        border-width: 0px 1px 1px 0px;
                        }
                        &.tertiary-color{
                        background-color: $tertiary-color;
                        border: solid #609386;
                        border-width: 0px 1px 1px 0px;
                        }
                        &:nth-child(2) {
                        animation-delay: 400ms;
                        }
                        &:nth-child(3) {
                        animation-delay: 550ms;
                        }
                        &:nth-child(4) {
                        animation-delay: 700ms;
                        }
                        &:nth-child(5) {
                        animation-delay: 850ms;
                        }
                        &:nth-child(6) {
                        animation-delay: 1000ms;
                        }
                        &:nth-child(7) {
                        animation-delay: 1150ms;
                        }
                        &:nth-child(8) {
                        animation-delay: 1300ms;
                        }
                        &:nth-child(9) {
                        animation-name: tilt-last;
                        animation-delay: 1450ms;
                        }
                    }
                }
        @keyframes tilt {
            0%{
                opacity: 1;
                visibility: visible;
                transform: rotate(0deg);
            }
            10%{ 
                transform: rotate(70deg);
            }
            60%{
                transform: rotate(70deg);
            }
            70%{
                transform: rotate( 70deg);
            }
            100%{
                opacity: 0;
                transform: rotate( 70deg);
                visibility: hidden;
            }
        }
        @keyframes tilt-last{
            0%{
                opacity: 1;
                visibility: visible;
                transform: rotate(0deg);
            }
            10%{
                transform: rotate(90deg);
            }
            60%{
                transform: rotate(90deg);
            }
            70%{
                transform: rotate( 90deg);
            }
            100%{
                opacity: 0;
                transform: rotate( 90deg);
                visibility: hidden;
            }
        }
        @keyframes disappear{
            from{
                transform: scale(1);
                transform: translate(0);
            }
            to{
                transform: scale(0);
                transform: translate(-9999px);
            }
        }
    /*Page blanche pendant 3s avant le chargement de la page d'accueil*/
        .commencer_chargement {
	        animation: page_blanche 1500ms;
        }
        @keyframes page_blanche {
	        0%{
	  	        opacity: 0;
	        }
	        70%{
	  	        opacity: 0.1;
	        }
	        100%{
	  	        opacity: 1;
	        }
        }
/*  Animation coeur - Like - remplissage dégradé progressif  */
    .animation_coeur{
        position: absolute;
        height: 25px;
	    font-size: 25px;
	    cursor: pointer;
    }
    .animation_coeur input[type="checkbox"]:checked ~ .coeur_non-select {
        display: none;
    }
    .animation_coeur input[type="checkbox"]:checked ~ .coeur_select {
        display: inline-block;
        color: rgba(255, 255, 255, 0);
    }
    .animation_coeur input[type="checkbox"], .animation_coeur .coeur_select {
        display: none;
        animation: like 0.5s;
        animation-fill-mode: forwards;
        transition: all 0.3s linear 0s;
    }
    @keyframes like {
        0%{ 
            height: 0%;
        }
        10%{
            height: 10%;
        }
        25%{
            height:25%;
        }
        50%{ 
            height: 50%;
        }
        75%{
            height:75%;
        }
        100%{ 
            height: 100%;
            background: linear-gradient(to bottom, $primary-color,$secondary-color);
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
/* Animation - apparition des plats au chargement de la page */
.format_plat{
    animation: fadein 1s;
}
.entree1, .plat1, .dessert1{
    animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.entree2, .plat2, .dessert2{
    animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.entree3, .plat3, .dessert3{
    animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.entree4, .plat4, .dessert4{
    animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}
@keyframes fadein {
    from {
		transform: translateY(20px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}