*{
    font-family: $text-font;
    box-sizing: border-box; /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur
     et la hauteur */
    margin: 0;
    padding: 0;
}
body{
    min-width: 320px;
}
a{
    text-decoration:none;
    color: black;
}
li{
    list-style-type: none;
}

/*Animation avant chargement page d'accueil*/
/*.toto{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}*/
.animation_avant_chargement{
    position: absolute;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    animation: disappear 50ms 2.8s forwards;
    & i{
    padding-left: 2px;
    padding-top: 18px;
    position: relative;
    display: inline-block;
    margin: 0 11px;
    width: 13px;
    height: 38px;
    border-radius: 2px;
    animation: tilt 2.8s cubic-bezier(0.955, -0.010, 1.000, 1.000);
    animation-fill-mode: forwards;
    transform-origin: 100% 100%;
        &.primary-color{
            background-color: $primary-color;
            border: solid #512d7d;
            border-width: 0px 1px 1px 0px;
        }
        &.secondary-color{
            background-color: $secondary-color;
            border: solid #b64f99;
            border-width: 0px 1px 1px 0px;
        }
        &.tertiary-color{
            background-color: $tertiary-color;
            border: solid #609386;
            border-width: 0px 1px 1px 0px;
        }
        &:nth-child(2) {
            animation-delay: .3s;
           }
        &:nth-child(3) {
            animation-delay: .6s;
            }
        &:nth-child(4) {
            animation-delay: .8s;
            }
        &:nth-child(5) {
            animation-delay: 1.2s;
            }
        &:nth-child(6) {
            animation-delay: 1.5s;
            }
        &:nth-child(7) {
                animation-delay: 1.8s;
            }
        &:nth-child(8) {
            animation-delay: 2.1s;
            }
        &:nth-child(9) {
            animation-name: tilt-last;
            animation-delay: 2.4s;
            }
    }
  }
  @keyframes disappear {
      to{
        transform: scale(0);
        transform: translate(-9999px);
      }
  }
  @keyframes tilt {
    0%{
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg);
    }
    10% { 
        transform: rotate(70deg);
     }
    60% {
        transform: rotate(70deg);
    }
    70% {
        transform: rotate( 70deg);
    }
    100%{
        opacity: 0;
        transform: rotate( 70deg);
        visibility: hidden;
    }
  }
  
 @keyframes tilt-last {
    0%{
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(90deg);
    }
    70% {
        transform: rotate( 90deg);
    }
    100%{
        opacity: 0;
        transform: rotate( 90deg);
        visibility: hidden;
    }
  }
/*Page blanche pendant 3s avant le chargement de la page d'accueil*/

.commencer_chargement {
	animation: page_blanche 3s;
}

@keyframes page_blanche {
	0% {
	  	opacity: 0;
	}
  
	70% {
	  	opacity: 0.1;
	}
  
	100% {
	  	opacity: 1;
	}
}