*{
    font-family: $text-font;
    box-sizing: border-box; /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur
     et la hauteur */
    margin: 0;
    padding: 0;
}
body{
    min-width: 320px;
}
a{
    text-decoration:none;
    color: black;
}
li{
    list-style-type: none;
}