.restaurants{
    background: $background-color-main;
    padding: 50px 20px 40px 20px;
    &_carte-restaurant{
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 26px;
        background: white;
        box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 12%);
        position: relative;
        transition: transform 330ms ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        &_image a{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &_nouveau{
            color: #008766;
            background: $tertiary-color;
            border-radius: 2px;
            position: absolute;
            padding: 6px 0px 6px 11px;
            width: 78px;
            right: 12px;
            top: 14px;
            font-size: 14px;
            font-weight: 600;
        }
        &_details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 182px 20px 15px 13px;
        }
    }
    & img{
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 170px;
    }
}
.animation_coeur_page-accueil {
	bottom: 25px;
    right: 16px;
}
@media screen and (min-width: $tablette-version) and (max-width: $desktop-version){
    .rangement_carte-restaurant{
        display: flex;
        flex-wrap: wrap;
    }
    .restaurants_carte-restaurant{
        flex: 40%;
        &:first-child {
        margin-right: 30px;
        }
        &:nth-child(3){
            margin-right: 30px;
        }
    }
}
@media screen and (min-width: $desktop-version){
    .restaurants{
        padding-bottom: 5%;
    }
    .rangement_carte-restaurant{
        display: flex;
        flex-wrap: wrap;
    }
    .restaurants_carte-restaurant{
        flex: 3%;
        margin: 30px 0px 20px 20px;
        &:first-child {
            margin-right: 0px;
            margin-left: 0px;
        }
        &:nth-child(3){
            margin-right: 0px;
        }
    }
    .animation_coeur_page-accueil {
        right: 10px;
    }
}