.restaurants{
    background: $background-color-main;
    padding: 50px 20px 40px 20px;
    &_carte-restaurant{
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 26px;
        background: white;
        box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 12%);
        position: relative;
        transition: transform 330ms ease-in-out;
        &:hover{
            transform: scale(102%);
        }
        &_image a{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &_nouveau{
            color: #008766;
            background: $tertiary-color;
            border-radius: 2px;
            position: absolute;
            padding: 6px 0px 6px 11px;
            width: 78px;
            right: 12px;
            top: 14px;
            font-size: 14px;
            font-weight: 600;
        }
        &_details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 182px 20px 15px 13px;

         /*   & .fa-heart{
                font-size: 25px;
                position: absolute;
                right: 25px;
                bottom: 22px;
                background-color: linear-gradient(to bottom, $primary-color,$secondary-color);
            }
            & .fa-heart:active{
                background-size: 100% 100%;
            }*/
          
        }
    }
    & img{
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: 170px;
    }
}
/* BOUTONS - checkbox like  */

.checkbox-like {
	position: absolute;
	right: 20px;
	bottom: 25px;
	height: 25px;
	font-size: 25px;
	cursor: pointer;
}

.checkbox-like.checkbox-like--position {
	position: initial;
	margin-top: 20px;
}

.checkbox-like input[type="checkbox"]:checked ~ .unchecked {
  	display: none;
}

.checkbox-like input[type="checkbox"]:checked ~ .checked {
  	display: inline-block;
  	color: rgba(255, 255, 255, 0);
  /*    background: linear-gradient(to bottom, $primary-color,$secondary-color) bottom no-repeat;
    -webkit-background-clip: text;
    background-clip: text;*/
    background-size: 100% 0px;
  /*  transition: background-size .1s;*/
}

.checkbox-like input[type="checkbox"], .checkbox-like .checked {
  	display: none;
    background-size: 100% 100%;
    background: -webkit-linear-gradient(to bottom, $primary-color,$secondary-color) bottom no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-size .1s;
  /*  animation: like 3s;*/
   /* animation-fill-mode: forwards;
    transition: like .1s;*/
  /*  transition: all 0.3s ease-in-out 0s;*/
}

@keyframes like {
	0% {
     
    background-clip: 100% 0px;
 }
    /*  opacity: 0;*/
      
      
 

  50% { 
     /* background: linear-gradient(to bottom, $primary-color,$secondary-color);*/
    /*  -webkit-background-clip: text;
      background-clip: text;*/
background-clip: 50% 50%;

    }
	
	100% { 
     /* background: linear-gradient(to bottom, $primary-color,$secondary-color);*/
   /*  background-clip: text;
      -webkit-background-clip: text;*/
      background-clip: 100% 100% ;
      
      
      
  	}
  }
@media screen and (min-width: $tablette-version) and (max-width: $desktop-version){
    .rangement_carte-restaurant{
        display: flex;
        flex-wrap: wrap;
    }
    .restaurants_carte-restaurant{
        flex: 40%;
        &:first-child {
        margin-right: 30px;
        }
        &:nth-child(3){
            margin-right: 30px;
        }
    }
}
@media screen and (min-width: $desktop-version){
    .restaurants{
        padding-bottom: 5%;
    }
    .rangement_carte-restaurant{
        display: flex;
        flex-wrap: wrap;
    }
    .restaurants_carte-restaurant{
        flex: 3%;
        margin: 30px 0px 20px 20px;
        &:first-child {
            margin-right: 0px;
            margin-left: 0px;
        }
        &:nth-child(3){
            margin-right: 0px;
        }
    }
}